* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ***************** */
/* ჰედერის სტილები */
/* *************** */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  width: 100%;
}

.header-tools-div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-tools-div a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #182cc0;
  text-decoration: none;
  gap: 4px;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 15px;
  z-index: 20;
}

.burger-icon > div {
  width: 50%;
  height: 2px;
  background-color: #555f62;
  border-radius: 5px;
  transition: 0.3s;
}

.burger-icon > div:nth-child(2) {
  width: 100%;
}

.burger-icon > div:last-child {
  width: 70%;
  height: 2px;
  background-color: #555f62;
  border-radius: 5px;
  transition: 0.3s;
}
main {
  padding: 15px 0;
  background-color: #f9fafa;
}

/* ************************ */
/* მთავარი ტექსტის სტილები */
/* ********************** */

.left-arrow {
  width: 15px;
}

.navigate-main-div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  color: #141719;
  margin-bottom: 40px;
  padding: 0 15px;
}

/* ************************* */
/* მთავარი სურათის სტილები */
/* *********************** */

.hero-block {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  margin-bottom: 100px;
}

.hero-block a {
  text-decoration: none;
}

.hero-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 360px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.hero-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 360px;
  object-fit: cover;
  object-position: 50% 50%;
}

.hero-data {
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 160px;
  gap: 15px;
  padding: 0 15px;
}

.hero-data h2 {
  font-size: 20px;
  font-weight: bold;
}

.hero-data button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px 20px;
  background-color: #182cc0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

/* *************************** */
/* გამოიწერეთ ტექსტის სტილები */
/* ************************* */

.subscribe-tbc-text-div {
  padding: 0 15px;
  color: #141719;
  font-size: 28px;
  margin-bottom: 70px;
}

/* ************************** */
/* შეარჩიეთ ნაკრების სტილები */
/* ************************ */

.choose-set-div {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 0 0 15px;
  margin-bottom: 50px;
}

.choose-set-div h2 {
  font-size: 16px;
  color: #141719;
}

.set-image {
  width: 80%;
  height: 230px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 10px;
  z-index: 0;
}

.set-image-container {
  position: relative;
  display: flex;
  gap: 15px;
}

.set-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 1;
}

.set-image-inside-div {
  position: absolute;
  top: 65%;
  left: 12%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 2;
}

.set-image-inside-div h3 {
  font-size: 18px;
  color: white;
  z-index: 2;
}

.set-image-inside-div a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: white;
}

/* ******************** */
/* სტატისტიკის სტილები */
/* ****************** */

.number-div {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  gap: 15px;
  margin-bottom: 70px;
}

.number-inside-div {
  padding: 20px 25px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.number {
  font-size: 36px;
  font-weight: bold;
  color: #141719;
  margin-bottom: 20px;
}

.number-text {
  font-size: 16px;
  color: #555f62;
}

/* ********************* */
/* შეთავაზებების სტილები */
/* ******************* */

.offers-div {
  padding: 0 15px;
  margin-bottom: 70px;
}

.offers-text-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.offers-div h2 {
  font-size: 16px;
  color: #141719;
}

.offers-div a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #182cc0;
}

.offers-inside-div {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 85%;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #d8d8d8;
}

.offers-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: 50% 50%;
  margin-bottom: 15px;
}

.offers-inside-text-div {
  padding: 0 15px;
}

.offers-inside-text-div div {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  color: #6f787b;
  font-size: 14px;
  font-weight: 700;
}

.offers-inside-text-div h3 {
  margin-bottom: 40px;
  font-size: 16px;
  color: #141719;
  line-height: 30px;
}

.small-image-div {
  position: absolute;
  width: 80px;
  height: 50px;
  background-color: white;
  z-index: 1;
  right: -1%;
  top: 5%;
  background-image: url("images/tegeta-small.png");
  background-size: cover;
  border-radius: 5px;
}

/* ************************ */
/* ციფრული ბანკის სტილები */
/* ********************** */

.digital-bank-div {
  padding: 20px 15px;
  background-color: white;
  margin-bottom: 100px;
}

.digital-bank-div h2 {
  font-size: 16px;
  color: #141719;
  margin-bottom: 20px;
}

.mobile-image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  margin-bottom: 20px;
}

.digital-bank-div p {
  font-size: 16px;
  color: #555f62;
  line-height: 25px;
  margin-bottom: 20px;
}

.digital-bank-div a {
  text-decoration: none;
}

.download-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px 20px;
  background-color: white;
  color: #182cc0;
  border: 1px solid #182cc0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

/* ********************* */
/* პროდუქტების სტილები */
/* ******************* */

.products-div {
  padding: 0 15px;
  margin-bottom: 70px;
}

.products-div h2 {
  font-size: 16px;
  color: #141719;
  margin-bottom: 20px;
}

.products-div a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #182cc0;
}

.products-inside-div {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 85%;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #d8d8d8;
}

.products-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: 50% 50%;
  margin-bottom: 15px;
}

.products-text-div {
  padding: 0 15px;
}

.products-text-div h3 {
  font-size: 16px;
  color: #141719;
  margin-bottom: 20px;
}

.products-text-div p {
  font-size: 14px;
  color: #555f62;
  line-height: 25px;
  margin-bottom: 20px;
}

.products-text-div p > span {
  font-weight: bold;
}

/* ******************* */
/* ჯილდოების სტილები */
/* ***************** */

.reward-div {
  padding: 0 15px;
  margin-bottom: 70px;
}

.reward-div h2 {
  font-size: 16px;
  color: #141719;
  margin-bottom: 20px;
}

.reward-inside-div {
  width: 85%;
  background-color: white;
  padding: 25px;
}

.reward-inside-div img {
  width: 120px;
  margin-bottom: 20px;
}

.reward-inside-div h3 {
  font-size: 17px;
  color: #141719;
  margin-bottom: 20px;
  line-height: 35px;
}

.reward-inside-div p {
  font-size: 16px;
  color: #555f62;
}
