* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ***************** */
/* ჰედერის სტილები */
/* *************** */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  width: 100%;
  top: 0;
  background-color: white;
  position: sticky;
  z-index: 10;
  overflow: hidden;
  transition: 0.2s;
}

header.isHeaderHidden {
  transform: translateY(-100%);
}

.search-icon {
  fill: #555f62;
  transition: fill 0.5s ease;
}

.search-icon:hover {
  fill: #007aff;
}

.arrow-icon {
  fill: #182cc0;
  transition: fill 0.5s ease;
}

.header-arrow-group:hover .arrow-icon {
  fill: #007aff;
}

.header-arrow-group:hover {
  color: #007aff;
}

.header-tools-div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-tools-div a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #182cc0;
  text-decoration: none;
  gap: 4px;
  transition: color 0.5s ease;
}

/* ********************** */
/* ბურგერ მენიუს სტილები */
/* ******************** */

.hide-element {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.show-element {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, opacity 0.5s linear;
}

.burger-menu {
  display: none;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 15px;
  z-index: 20;
}

.burger-icon > div {
  width: 50%;
  height: 2px;
  background-color: #555f62;
  border-radius: 5px;
  transition: 0.3s;
}

.burger-icon > div:nth-child(2) {
  width: 100%;
}

.burger-icon > div:last-child {
  width: 70%;
  height: 2px;
  background-color: #555f62;
  border-radius: 5px;
  transition: 0.3s;
}

.burger-icon.closeIcon > div:nth-child(1) {
  position: relative;
  transform: rotate(45deg);
  left: 2px;
  top: 3px;
}

.burger-icon.closeIcon > div:last-child {
  position: relative;
  transform: translateX(111%) rotate(45deg);
  width: 50%;
  right: 2px;
  bottom: 3px;
}

.burger-icon.closeIcon > div:nth-child(2) {
  width: 100%;
  transform: rotate(-45deg);
}

.close-icon {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  justify-content: space-between;
  width: 22px;
  height: 32px;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
}

.close-icon > div {
  width: 100%;
  height: 4px;
  background-color: #aaaaaa;
  border-radius: 5px;
}

.close-icon > div:first-child {
  position: relative;
  top: 50%;
  transform: rotate(45deg);
}

.close-icon > div:last-child {
  position: relative;
  bottom: 39%;
  transform: rotate(-45deg);
}

.burger-arrow-div {
  padding: 30px 20px;
  border-bottom: 1px solid #d8d8d8;
}

.burger-arrow-div-content a {
  text-decoration: none;
  color: #555f62;
  font-size: 18px;
}

.rules-burger-div {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 81px 20px;
  background-color: #f9fafa;
}

.rules-burger-text-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #555f62;
  font-size: 14px;
}

.rules-burger-div p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #555f62;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}

.overlay.isOpened {
  display: block;
}

main {
  position: relative;
  padding: 15px 0;
  background-color: #f9fafa;
}

/* ************************ */
/* მთავარი ტექსტის სტილები */
/* ********************** */

.left-arrow {
  width: 15px;
}

.navigate-main-div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  color: #141719;
  margin-bottom: 40px;
  padding: 0 15px;
}

/* ******************** */
/* menu trigger styles */
/* ****************** */

.menu-trigger {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 620px;
  right: 13px;
  z-index: 10;
}

.open-close-div {
  background-color: #555f62;
  padding: 10px 13px;
  opacity: 0.8;
  border-radius: 50%;
}

.menu-trigger-options-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.menu-trigger-options-closed-div {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.menu-trigger-options-inside-div {
  background-color: #fff;
  padding: 10px 13px;
  border-radius: 50%;
}

.menu-icon {
  display: block;
  transition: opacity 0.5s ease;
}

.menu-close {
  display: none;
  transition: opacity 0.5s ease;
}

/* ************************* */
/* მთავარი სურათის სტილები */
/* *********************** */

.hero-block {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  margin-bottom: 100px;
}

.hero-block a {
  text-decoration: none;
}

.hero-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 360px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.hero-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 360px;
  object-fit: cover;
  object-position: 50% 50%;
}

.hero-data {
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 160px;
  gap: 15px;
  padding: 0 15px;
}

.hero-data h2 {
  font-size: 20px;
  font-weight: bold;
}

.hero-data button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px 20px;
  background-color: #182cc0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.5s ease;
}

.hero-data button:hover {
  background-color: #007aff;
}

/* *************************** */
/* გამოიწერეთ ტექსტის სტილები */
/* ************************* */

.subscribe-tbc-text-div {
  padding: 0 15px;
  color: #141719;
  font-size: 28px;
  margin-bottom: 70px;
}

/* ************************** */
/* შეარჩიეთ ნაკრების სტილები */
/* ************************ */

.choose-set-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 50px;
}

.choose-set-div h2 {
  font-size: 16px;
  color: #141719;
  padding-left: 15px;
}

.set-image {
  width: 100%;
  height: 230px;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: 0;
  transition: transform 0.5s ease;
}

.choose-set-slide:hover img {
  transform: scale(1.05);
}

.set-image-container {
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
}

.choose-set-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 1;
}

.set-image-inside-div {
  position: absolute;
  bottom: 15%;
  left: 12%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 2;
}

.set-image-inside-div h3 {
  font-size: 18px;
  color: white;
  z-index: 2;
}

.set-image-inside-div p {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}

.choose-set-slider {
  display: flex;
  overflow-x: scroll;
  gap: 15px;
  padding: 0 15px;
}

.choose-set-slide {
  position: relative;
  min-width: 280px;
}

/* ******************** */
/* სტატისტიკის სტილები */
/* ****************** */

.number-div {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  gap: 15px;
  margin-bottom: 70px;
}

.number-inside-div {
  padding: 20px 25px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.number {
  font-size: 36px;
  font-weight: bold;
  color: #141719;
  margin-bottom: 20px;
}

.number-text {
  font-size: 16px;
  color: #555f62;
}

/* ********************* */
/* შეთავაზებების სტილები */
/* ******************* */

.offers-div {
  margin-bottom: 70px;
}

.offers-text-div {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.offers-arrow {
  fill: #182cc0;
  transition: fill 0.5s ease;
}

.offers-div h2 {
  font-size: 16px;
  color: #141719;
}

.offers-div a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #182cc0;
  overflow: hidden;
  transition: color 0.5s ease;
}

.offers-div a:hover {
  color: #007aff;
}

.offers-div a:hover .offers-arrow {
  fill: #007aff;
}

.offers-inside-div {
  position: relative;
  display: flex;
  flex-direction: column;
}

.offers-image {
  height: 160px;
  object-fit: cover;
  object-position: 50% 50%;
  margin-bottom: 15px;
  transition: transform 0.5s ease;
}

.offers-inside-text-div {
  padding: 0 15px;
}

.offers-inside-text-div div {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  color: #6f787b;
  font-size: 14px;
  font-weight: 700;
}

.offers-inside-text-div h3 {
  margin-bottom: 40px;
  font-size: 16px;
  color: #141719;
  line-height: 30px;
}

.small-image-div {
  position: absolute;
  width: 80px;
  height: 50px;
  background-color: white;
  z-index: 1;
  right: -1%;
  top: 5%;
  border-radius: 5px;
  overflow: hidden;
}

.logo {
  width: 100%;
  height: 100%;
}

.offers-slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 15px 20px;
  gap: 15px;
  margin-bottom: 60px;
}

.offers-slide {
  min-width: 280px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #d8d8d8;
  transition: box-shadow 0.5s ease;
}

.offers-slide:hover .offers-image {
  transform: scale(1.05);
}

.offers-slide:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.offers-slider::-webkit-scrollbar-track {
  background: #d8d8d8;
}

.offers-slider::-webkit-scrollbar-thumb {
  background: #182cc0;
}

.offers-slider::-webkit-scrollbar {
  height: 2px;
}

/* ************************ */
/* ციფრული ბანკის სტილები */
/* ********************** */

.digital-bank-div {
  padding: 20px 15px;
  background-color: white;
  margin-bottom: 100px;
}

.digital-bank-div h2 {
  font-size: 16px;
  color: #141719;
  margin-bottom: 20px;
}

.mobile-image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  margin-bottom: 20px;
}

.digital-bank-div p {
  font-size: 16px;
  color: #555f62;
  line-height: 25px;
  margin-bottom: 20px;
}

.digital-bank-div a {
  text-decoration: none;
}

.download-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px 20px;
  background-color: white;
  color: #182cc0;
  border: 1px solid #182cc0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

/* ********************* */
/* პროდუქტების სტილები */
/* ******************* */

.products-div {
  margin-bottom: 70px;
}

.products-div h2 {
  padding: 0 15px;
  font-size: 16px;
  color: #141719;
  margin-bottom: 20px;
}

.products-div a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #182cc0;
}

.products-inside-div {
  position: relative;
  display: flex;
  flex-direction: column;
}

.products-image {
  height: 160px;
  object-fit: cover;
  object-position: 50% 50%;
  margin-bottom: 20px;
  transition: transform 0.5s ease;
}

.products-text-div {
  padding: 0 15px;
}

.products-text-div h3 {
  font-size: 16px;
  color: #141719;
  margin-bottom: 10px;
}

.products-text-div p {
  font-size: 14px;
  color: #555f62;
  line-height: 25px;
  margin-bottom: 20px;
}

.products-text-div p > span {
  font-weight: bold;
}

.products-slider {
  display: flex;
  overflow-x: scroll;
  padding: 0px 15px 20px 15px;
  gap: 15px;
}

.products-slide {
  min-width: 280px;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #d8d8d8;
  transition: box-shadow 0.5s ease;
}

.products-slide:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.products-slide:hover img {
  transform: scale(1.05);
}

.products-slider::-webkit-scrollbar-track {
  background: #d8d8d8;
}

.products-slider::-webkit-scrollbar-thumb {
  background: #182cc0;
}

.products-slider::-webkit-scrollbar {
  height: 2px;
}

/* ******************* */
/* ჯილდოების სტილები */
/* ***************** */

.reward-div {
  margin-bottom: 70px;
}

.reward-div h2 {
  padding: 0 15px;
  font-size: 16px;
  color: #141719;
  margin-bottom: 20px;
}

.rewards-slide:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rewards-slide img {
  width: 120px;
  height: 60px;
  margin-bottom: 20px;
}

.rewards-slide h3 {
  font-size: 17px;
  color: #141719;
  margin-bottom: 20px;
  line-height: 35px;
}

.rewards-slide p {
  font-size: 16px;
  color: #555f62;
}

.rewards-slider {
  display: flex;
  overflow-x: scroll;
  padding: 0 15px 20px 15px;
  gap: 15px;
}

.rewards-slide {
  min-width: 280px;
  height: 280px;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.5s ease;
}

.rewards-slider::-webkit-scrollbar-track {
  background: #d8d8d8;
}

.rewards-slider::-webkit-scrollbar-thumb {
  background: #182cc0;
}

.rewards-slider::-webkit-scrollbar {
  height: 2px;
}

/* ***************** */
/* ფუტერის სტილები */
/* *************** */

footer {
  background-color: white;
}

.logo-language-div {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #d8d8d8;
}

.language-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-div > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-div > div:nth-child(1):hover {
  background-color: #f9fafa;
}

.language-div > div:last-child {
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px 20px;
  font-weight: bold;
}

.footer-arrow-div {
  padding: 30px 20px;
  border-bottom: 1px solid #d8d8d8;
}

.footer-arrow-div h3 {
  font-size: 18px;
  color: #141719;
}

.footer-arrow-div-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.footer-arrow-div-content {
  display: grid;
  grid-template-rows: auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: max-height 1s, opacity 1s ease-in-out, visibility 0s linear 1s;
}

.footer-arrow-div-content a {
  text-decoration: none;
  color: #555f62;
  font-size: 16px;
  margin-top: 20px;
  transition: color 0.5s ease;
}

.footer-arrow-div-content a:hover {
  color: #182cc0;
}

.arrow {
  transition: transform 1s ease;
}

.arrow.isExpanded {
  transform: rotate(180deg);
}

.footer-arrow-div-content.isExpanded {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
  transition: max-height 1s, opacity 1s ease-in-out, visibility 0s;
}

.contact-div {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-div h3 {
  font-size: 18px;
  color: #141719;
}

.contact-div a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  font-size: 16px;
  color: #555f62;
  font-weight: bold;
}

.contact-div a:hover {
  text-decoration: underline;
}

.social-networks-div {
  padding: 20px 20px;
  margin-bottom: 20px;
}

.social-networks-div h3 {
  font-size: 18px;
  color: #141719;
  margin-bottom: 20px;
}

.social-networks-div div {
  display: flex;
  gap: 15px;
}

.social-svg {
  fill: #555f62;
  transition: fill 0.5s ease;
}

.social-btn {
  border: none;
  padding: 15px 15px;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.social-btn:hover {
  background-color: #d8d8d8;
}

.social-btn:hover .social-svg {
  fill: #182cc0;
}

.rules-div {
  padding: 20px 20px;
  background-color: #f9fafa;
}

.rules-text-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.rules-text-div p {
  font-size: 16px;
  color: #555f62;
  cursor: pointer;
  transition: color 0.5s ease;
}

.rules-text-div p:hover {
  color: #182cc0;
}

.rules-div p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #6f787b;
}

/* ***************************** */
/* კონფიდენციალურობის სტილები */
/* *************************** */

.privacy-menu {
  position: fixed;
  transform: translateY(100%);
  height: 80%;
  width: 100%;
  bottom: 0;
  z-index: 10;
  overflow: hidden;
  background-color: white;
  transition: 1s;
}

.privacy-menu.isOpened {
  transform: translateY(0);
  transition: 1s;
}

.privacy-menu-header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  border-bottom: 1px solid #d8d8d8;
}

.privacy-menu-header-div h2 {
  font-size: 16px;
  color: #141719;
}

.privacy-menu-close-div {
  background-color: #f0f0f0;
  border-radius: 50%;
  padding: 3px;
  display: flex;
  align-items: center;
}

.privacy-text-div {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  overflow: auto;
  max-height: calc(100% - 80px);
}

.privacy-text-div::-webkit-scrollbar-track {
  background: #d8d8d8;
}

.privacy-text-div::-webkit-scrollbar-thumb {
  background: #091468be;
}

.privacy-text-div::-webkit-scrollbar {
  height: 20px;
}

.scrollable-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 550px;
  overflow-x: auto;
  overflow-y: auto;
}

.scrollable-content h4 {
  font-weight: bold;
  color: #555f62;
  font-size: 20px;
}

.scrollable-content p {
  font-size: 16px;
  color: #555f62;
  line-height: 25px;
}

.scrollable-content p > a {
  color: #555f62;
}

.scrollable-content ul {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  color: #555f62;
  gap: 5px;
  line-height: 25px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #555f62;
}
th,
td {
  border: 1px solid #555f62;
  text-align: left;
  font-size: 16px;
  color: #555f62;
}
th {
  font-weight: bold;
}

.last-privacy-text {
  margin-bottom: 50px;
}
